@page "/"

@using Models
@inject IModel Model

<h1>List of Adults</h1>

<p>In this page you can view the list of adults.</p>

@if (adults == null)
{
    <p><em>Loading...</em></p>
} 
else 
{
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Occupation</th>
                <th>Eye color</th>
                <th>Hair color</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var adult in adults)
            {
                <tr>
                    <td>@adult.FirstName</td>
                    <td>@adult.LastName</td>
                    <td>@adult.Age</td>
                    <td>@adult.JobTitle</td>
                    <td>@adult.EyeColor</td>
                    <td>@adult.HairColor</td>
                    <td>@adult.Sex</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Adult> adults;
    protected override async Task OnInitializedAsync(){
        adults = await Model.GetAdults();
    }
}